---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@font-face {
  font-family: 'Open Sans', sans-serif;
}


@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/ProximaNova-Regular.otf") format("opentype");
}

// Site Variables
$GothamBold: Proxima Nova;
$base-font-family: Proxima Nova;
$content-font-family: Proxima Nova;
$title-font-family: Proxima Nova;
$base-font-size: 18px;

// content
$h1-font-size: 42px;

// header
$header-title-color: #000;
$header-title-size: 36px;
$header-title-weight: 600;
$header-hover-opacity: 0.7;
$nav-link-color: #fff;
$nav-link-size: 18px;
$nav-link-weight: 600;

// footer
$footer-font-size: 18px;
$footer-font-weight: 400;
$footer-font-color: #fff;
$footer-height: 100px;

// images
$image-home: "../img1.jpg";

// home
$home-title-size: 70px;
$home-title-weight: 600;
$home-title-color: #fff;
$home-title-line-height: 100%;
$home-desc-size: 22px;
$home-desc-color: #fff;
$home-link-color: #000; //try to simulate transparancy
$home-link-size: 16px;
$home-link-weight: 400;
$home-link-hover-opacity: 0.7;
$home-link-width: 35px;
$home-link-height: 13px;

/* FIRST RESPONE LAYOUT*/
$header-title-size-fr0: 26px;

$home-title-size-fr0: 72px;
$home-title-size-fr1: 54px;
$home-title-size-fr2: 44px;

$home-desc-size-fr1: 18px;
$home-desc-size-fr2: 14px;

$home-link-width-fr0: 30px;
$home-link-height-fr0: 12px;
$home-link-size-fr0: 14px;
$home-link-size-fr1: 12px;
$home-link-width-fr1: 26px;
$home-link-height-fr1: 10px;
/* END RESPONE LAYOUT*/

// See base.scss. not sure what this does.
$spacing-unit: 30px;

// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "include",
        "syntax-highlighting"
;
