---
layout: default
header: images/gradient/tunga_cropped.jpg
header1: images/gradient/nw_alesund2_cropped.jpg
header2: images/gradient/france_landscape_0.jpg
bottom: images/gradient/sw1.jpg
---
<div class="panel-home">
	<div class="parallax-window" data-parallax="scroll" data-image-src="{{ base }}/{{ page.header }}" data-bleed="0">
		<!--<div class="gradient-overlay"></div>-->
	</div>

    <div class="home">
        <div id="title">
            VIKTOR<br>ZOUTMAN
        </div>
        <div id="description">
            {{ site.description }}
        </div>
        <div id="links">
            <a href="blog">BLOG</a>
            <a href="work">WORK</a>
            <a href="#contact">CONTACT</a>
			<br>
			<a id="cta_resume" href="https://vzout.com/resume.pdf" target="_blank">RESUME</a>
        </div>
    </div>

	<a class="down-arrow" href="#about"><span></span></a>

</div>

<div class="panel-about" id="about">
    <div class="wrapper">
        <h1 class="content-title">Who Am I?</h1>
		<a name="about"></a>
	Hello, I'm a <strong>graphics programmer</strong> who loves mathematics and compose them into something that gives artists the ability to create pleasing imagery. Additionally I also have a passion for working on complex systems in the form of making the application and production run more efficiently.
	<br><br>
	I currently study at the <a href="https://www.buas.nl/">Breda University of Applied Sciences</a>. After my studies I aspire to work in the film or game industry to help deliver stunning visuals.
	<br><br>
	Aside from programming I enjoy bikepacking, backpacking, cycling and fitness.
    </div>
</div>

<div class="parallax-panel">
	<div class="parallax-window" data-parallax="scroll" data-image-src="{{ base }}/{{ page.header1 }}" data-bleed="30"></div>
</div>

<div class="panel-skills" id="skills">
    <div class="skills-wrapper">
        <h1 class="content-title">Core Skills</h1>
		<a name="about"></a>
		<div class="skills-collumn-l">
			<h3>Languages</h3>
			<br>
			{% include icon-cpp.html %} {% include icon-rust.html %} 
			{% include icon-html.html %} {% include icon-css.html %} 
			{% include icon-js.html %} {% include icon-nl.html %}
			{% include icon-uk.html %} {% include icon-germany.html %}
		</div>

		<div class="skills-collumn-r">
			<h3>Tools</h3>
			<br>
			{% include icon-dx12.html %}
			{% include icon-vulkan.html %}
			{% include icon-git.html %}
			{% include icon-perforce.html %}
			{% include icon-svn.html %}
			<br>
			{% include icon-nsight.html %}
			{% include icon-visualstudio.html %}
		</div>

	</div>
</div>

<div class="parallax-panel">
	<div class="parallax-window" data-parallax="scroll" data-image-src="{{ base }}/{{ page.header2 }}" data-bleed="30"></div>
</div>

<div class="panel-contact" id="contact">
    <div class="contact-wrapper">
        <h1 class="content-title">Contact</h1>
		{% for my_page in site.pages %}
			{% if my_page.title == "Contact" %}
				{{ my_page.content }}
			{% endif %}
		{% endfor %}
    </div>
</div>

<div class="panel-bottom">
	<div class="parallax-window" data-parallax="scroll" data-image-src="{{ base }}/{{ page.bottom }}" data-bleed="30"></div>
</div>

<!-- BUTTON SCROLLING STUFF -->
<script>
$(function() {
  $('a[href*=#]').on('click', function(e) {
    e.preventDefault();
    $('html, body').animate({ scrollTop: $($(this).attr('href')).offset().top}, 500, 'linear');
  });
});
</script>
