<script type="text/javascript">

$(window).scroll(function(){ 

	var b = document.getElementsByClassName('site-header-bg');
	var n = document.getElementsByClassName('site-nav');
	var t = document.getElementsByClassName('site-title');
	var doc = document.documentElement;
	var top = (window.pageYOffset || doc.scrollTop)  - (doc.clientTop || 0);

	if(top > 0) {
		n[0].style.marginTop = "10px";
		b[0].style.paddingBottom = "10px";
		t[0].style.marginTop = "8px"; //resizing margin messess with the animation
		t[0].style.fontSize = "22px";
		b[0].style.opacity = "0.4";
	}
	else {
		n[0].style.marginTop = "30px";
		b[0].style.paddingBottom = "30px";
		t[0].style.marginTop = "20px";
		t[0].style.fontSize = "36px";
		b[0].style.opacity = "0.0";
	}
});

</script>

<header class="site-header">

	<div class="site-header-bg"></div>
    <a id="site-title" class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <nav class="site-nav">
		{% assign pages = site.pages | sort:"weight"  %}
        {% for my_page in pages %}
		  {% if my_page.title == "Contact" and page.title %}
		  <a id="page-link" class="page-link" href="{{ site.baseurl }}/#contact">{{ my_page.title }}</a> <!-- Used for scrolling to the contact section from a page that isn't home -->
		  {% elsif my_page.title == "Contact" %}
		  <a id="page-link-contact" class="page-link" href="#contact">{{ my_page.title }}</a> <!-- Used for scrolling to the contact section from home -->
          {% elsif my_page.title %}
          <a id="page-link" class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
          {% endif %}
        {% endfor %}
    </nav>

</header>
