<a class="tooltip"  target="_blank" href="https://www.linkedin.com/in/{{ site.linkedin_username }}">
	<span class="icon icon--linkedin">{% include icon-linkedin.svg %}</span>
	<span class="tooltip-content">LinkedIn</span>
</a>
