<a class="tooltip"  target="_blank" href="https://gitlab.com/{{ site.github_username }}">
	<span class="icon icon--gitlab">{% include icon-gitlab.svg %}</span>
	<span class="tooltip-content">Gitlab</span>
</a>
