<a class="tooltip"  target="_blank" href="https://visualstudio.microsoft.com/">
	<span class="skill-icon">{% include icon-visualstudio.svg %}</span>
	<span class="tooltip-content">Visual Studio 2019</span>
</a>

