/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}

/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

h1 {
	line-height: 50px;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: $base-font-family;
    letter-spacing: 1px;
}

a { // general link
	color: #3094ff;
	font-weight: 700;
	text-decoration: none;
	
	-webkit-transition:color 0.1s ease;
	-moz-transition:color 0.1s ease;
	-ms-transition:color 0.1s ease;
	-o-transition:color 0.1s ease;
	transition:color 0.1s ease;
}

a:hover {
	color: #166fce;
	text-decoration: none;
}

.wrapper {
	background-color: #fff;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.post-wrapper {
	background-color: #fff;
    margin-left: auto;
    margin-right: auto;
	padding: 25px 50px 50px 50px;
	max-width: 750px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.08);
}

.parallax-panel {
	height: 40vh;
}

.parallax-window {
    min-height: 100%;
	background: transparent;
}

/*gradient overlay ---- currently only works properly for chrome. Because fucking data bleed.*/
.gradient-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background:-webkit-linear-gradient(-45deg, rgb(75, 208, 61) 0%, rgb(94, 158, 255) 100%);
  background:-o-linear-gradient(     -45deg, rgb(75, 208, 61) 0%, rgb(94, 158, 255) 100%);
  background:-moz-linear-gradient(   -45deg, rgb(75, 208, 61) 0%, rgb(94, 158, 255) 100%);
  background:linear-gradient(        -45deg, rgb(75, 208, 61) 0%, rgb(94, 158, 255) 100%);
  opacity: 0.7;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltip-content {
  visibility: hidden;
  display: none;
  width: 120px;
  background-color: #166fce;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.15s;
}

.tooltip .tooltip-content::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #166fce transparent transparent transparent;
}

.tooltip:hover .tooltip-content {
  visibility: visible;
  display: inline;
  opacity: 1;
}
.panel-home {
    width: 100%;
    height: 100vh;
    text-align: center;
}

.panel-bottom {
    width: 100%;
    height: 40vh;
    text-align: center;
}

.panel-other {
    width: 100%;
    height: 30vh;
    text-align: center;
}

.panel {
    margin: 75px 0px 75px 0px;
    font-family: $content-font-family;
    width: 100%;
    text-align: left;
    line-height: 23px;
    color: #2B2B2B;
    letter-spacing: 1px;
    background-color: #fff;
}

.panel-about {
    margin: 100px 0px 160px 0px;
    font-family: $content-font-family;
    width: 100%;
    text-align: left;
    line-height: 23px;
    color: #2B2B2B;
    letter-spacing: 1px;
    background-color: #fff;
}

.panel-about .wrapper {
	max-width: 750px;
}

.panel-post {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
    font-family: $content-font-family;
    width: 100%;
    text-align: left;
    line-height: 23px;
    color: #2B2B2B;
    letter-spacing: 1px;
	background-color: #ededed;
	width: 100%;
	height: 100%;
}

.panel-contact {
    margin: 100px 0px 160px 0px;
    font-family: $content-font-family;
    width: 100%;
    text-align: left;
    line-height: 23px;
    color: #2B2B2B;
    letter-spacing: 1px;
    background-color: #fff;
	text-align: center;
}

.contact-wrapper {
	text-align: left;
	display: inline-block;
}

.panel-skills {
    margin: 100px 0px 160px 0px;
    font-family: $content-font-family;
    width: 100%;
    text-align: left;
    line-height: 23px;
    color: #2B2B2B;
    letter-spacing: 1px;
    background-color: #fff;
	text-align: center;
}

.skills-wrapper {
	text-align: left;
	display: inline-block;
}

.skills-collumn-l {
	text-align: center;
	float: left;
	width: 40%;
	padding-left: 15px;
	padding-right: 15px;
}


.skills-collumn-r {
	text-align: center;
	float: right;
	width: 40%;
	padding-left: 15px;
	padding-right: 15px;
}

.skills-collumn-l strong {
	width: 100%;
	text-align: center;
}


.skills-collumn-r strong {
	width: 100%;
	text-align: center;
}

.panel-games {
    margin: 65px 0px 45px 0px;
    font-family: $content-font-family;
    width: 100%;
    text-align: left;
    line-height: 23px;
    color: #2B2B2B;
    letter-spacing: 1px;
    background-color: #fff;
}

.content-title {
    font-family: $title-font-family;
    margin-bottom: 40px;
    color: #000;
    text-align: center;
}

.home {
	z-index: 0;
    width: 400px;
    margin-left: -200px;
    margin-top: -150px;
    position: absolute;
    top: 50%;
    left: 50%;
}

.home #title {
    margin: 0;
    padding: 0;
    width: 100%;
    line-height: $home-title-line-height;
    text-align: center;
	letter-spacing: 8px;
    font-weight: $home-title-weight;
    color: $home-title-color;
    font-size: $home-title-size;
}

.home #description {
    color: $home-desc-color;
    font-size: $home-desc-size;
    margin: 25px 0px 35px 0px;
	letter-spacing: 3px;
}

.page-link {
	text-transform: uppercase;
}

.home #links a {
	width: 120px;
	height: 40px;
	line-height: 40px;
	display: inline-block;
    margin: 0;
    color: $home-link-color;
    font-weight: $home-link-weight;
    font-size: $home-link-size;
    text-decoration: none;
    background-color: #fff;
    padding: $home-link-height $home-link-width $home-link-height $home-link-width;
	padding: 0;

	-webkit-transition: opacity 0.1s ease;
	-moz-transition: opacity 0.1s ease;
	-ms-transition: opacity 0.1s ease;
	-o-transition: opacity 0.1s ease;
	transition: opacity 0.1s ease;
}

.home #links #cta_resume
{
	margin-top: 6px;
	//background-color: #e07131;
	background-color: #00000000;
	color: #fff;

	//-webkit-box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.15);
	//-moz-box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.15);
	//box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.15);
	text-shadow: 2px 2px 3px rgba(0,0,0,0.15);

	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	border-style: solid;
	border-width: 4px;
	line-height: 32px;
}

.home #links a:hover {
    opacity: $home-link-hover-opacity;
}

.down-arrow {
  position: absolute;
  bottom: 20px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
  padding-top: 60px;
}

.down-arrow:hover {
	opacity: 0.5;
}

.down-arrow:hover {
	color: #fff;
}

.down-arrow span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 32px;
  height: 32px;
  margin-left: -12px;
  border-left: 3px solid #fff;
  border-bottom: 3px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}

.small_image
{
	width: 48%;
	vertical-align: top;
}

.github-card2
{
	width: 100%;
	max-width: 450px;
}

@media screen and (max-width: 1320px) {
    .wrapper {
        width: 70%;
    }
}

@media screen and (max-width: 570px) {
    .home #title {
        font-size: $home-title-size-fr0;
    }

    .home {
        margin-top: -150px;
    }
}

@media screen and (max-width: 415px) {
    .home #links a {
        //padding: $home-link-height-fr0 $home-link-width-fr0 $home-link-height-fr0 $home-link-width-fr0;
        font-size: $home-link-size-fr0;
    }
}

@media screen and (max-width: 450px) {
    #page-link-contact {
        display: none;
    }
}

@media screen and (max-height: 730px) {
    .home #title a {
        font-size: $home-title-size-fr0;
    }

    .home {
        margin-top: -150px;
    }
}

@media screen and (max-height: 510px) {
    .home #title {
        font-size: $home-title-size-fr1;
    }

    .home #description {
        font-size: $home-desc-size-fr1;
    }

    .home {
        margin-top: -125px;
    }
}
