/** HEADER **/

.icon, .panel-contact path, .panel-contact polygon {
	display: inline-block;
	width: 32px;
	fill: #828282;

	-webkit-transition: fill 0.1s ease;
	-moz-transition: fill 0.1s ease;
	-ms-transition: fill 0.1s ease;
	-o-transition: fill 0.1s ease;
	transition: fill 0.1s ease;
}

.skill-icon {
	display: inline-block;
	width: 64px;

	margin-top: 2px;
	margin-bottom: 2px;

	-moz-transition: fill 0.1s ease;
	-ms-transition: fill 0.1s ease;
	-o-transition: fill 0.1s ease;
	transition: fill 0.1s ease;
}

.icon--twitter:hover path {
	fill: #1da1f2;
}

.icon--instagram:hover path {
	fill: #C13584;
}

.icon--github:hover path {
	fill: #333;
}

.icon--gitlab:hover path {
	fill: #FC6D26;
}

.icon--linkedin:hover path {
	fill: #4875B4;
}

.icon--email:hover path, .icon--email:hover polygon {
	fill: #C82E18;
}

.site-header {
	z-index: 10;
    position: fixed;
    margin: 0;
	padding: 0;
    width: 100%;
}

.site-header-bg {
	transition: padding 0.1s;
	transition: opacity 0.1s; 

    padding: 0 0 30px 0;
    width: 100%;
    z-index: 10;
	height: 100%;
	opacity: 0;
	position: absolute;
	background-color: #000;
}

.site-nav {
	transition: margin 0.1s; 

	margin-top: 30px;
	position: relative;
	z-index: 10;
}

.page-link, .page-link:link, .page-link:visited {
    color: #fff;
    text-decoration: none;
}

.site-title, .site-title:link, .site-title:visited {
    color: #fff;
    text-decoration: none;
}

.site-title {
	transition: margin 0.1s; //TODO: needs webkit and other compat transitions

	z-index: 99;

    color: fff;
    margin: 20px 0 0 50px;
    font-size: 36px; //HARDCODED: because otherwise i can't animate it in header include.
    font-weight: $header-title-weight;
    position: absolute;

	-webkit-transition: opacity 0.1s ease, font-size 0.1s;
	-moz-transition: opacity 0.1s ease, font-size 0.1s;
	-ms-transition: opacity 0.1s ease, font-size 0.1s;
	-o-transition: opacity 0.1s ease, font-size 0.1s;
	transition: opacity 0.1s ease, font-size  0.1s;
}

.site-title:hover {
    opacity: $header-hover-opacity;
}

.page-link {
    margin: 0 50px 0 0;
    float: right;
    font-size: $nav-link-size;
    font-weight: $nav-link-weight;

	-webkit-transition: opacity 0.1s ease;
	-moz-transition: opacity 0.1s ease;
	-ms-transition: opacity 0.1s ease;
	-o-transition: opacity 0.1s ease;
	transition: opacity 0.1s ease;
}

.page-link:hover {
    opacity: $header-hover-opacity;
}

// First responsive layout
@media screen and (max-width: 850px) {
    .site-title {
        display: none;
    }
    .site-title {
        font-size: $header-title-size-fr0;
        margin: 28px 0px 0px 50px;
    }
}

@media screen and (max-width: 730px) {
	.site-header-mobile {
        display: inline-block;
    }
}
/** HEADER **/

/** FOOTER **/      // Make content panel 100vh - header-height - footer-heigt
.site-footer {
    width: 100%;
    letter-spacing: 3px;
    height: $footer-height;
    font-family: $content-font-family;
    background-color: #171717;
}

.site-footer-copyright {
    text-align: center;
    height: 100%;
    font-size:  $footer-font-size;
    font-weight:  $footer-font-weight;
    color: $footer-font-color;
    line-height: $footer-height;
}
/** FOOTER **/
