// layout for blog.html
.post-array {
    text-align: center;
}

h1 {
    font-size: $h1-font-size;
    color: #000;
}

img {
	width: 100%;
}

.resizable
{
	width: auto;
	height: auto;
}

.post-link {
    text-align: left;
    display: inline-block;
	width: 100%;
    max-width: 700px;
    padding: 10px;
    border: 2px solid #9DC6F5;
    margin: 15px 0 15px 0;

	-webkit-transition: border 0.1s ease;
	-moz-transition: border 0.1s ease;
	-ms-transition: border 0.1s ease;
	-o-transition: border 0.1s ease;
	transition: border 0.1s ease;
}

.post-link:hover {
    border: 2px solid #3094ff;
}

.post-link-title {
    font-family: $content-font-family;
    font-weight: bold;
    text-decoration: none;
    color: #000;
    font-size: 22px;
    float: left;
}

.post-link-date {
    font-family: $content-font-family;
    text-decoration: none;
    color: #8e8e8e;
    font-size: 14px;
    float: right;
}

.post-link-category {
    font-family: $content-font-family;
    text-decoration: none;
    color: #8e8e8e;
    font-size: 14px;
    float: right;
}

.post-link-short {
    font-family: $content-font-family;
    margin-top: 5px;
    color: #000; //TODO this should be a variable
    font-weight: normal;
    text-decoration: none;
    font-size: 18px;
}

.post-link-img {
    float: left;
    margin-right: 10px;
	margin-left: -10px;
	margin-top: -10px;
	margin-bottom: -10px;
    width: 100px;
    height: 100px;
}

.games-array {
    width: 100%;
    height: 100%;
    text-align: center;
}

.game-link-div {
	width: 100%;
	max-width: 1000px;
    height: 300px;

    margin: 15px 15px 15px 15px;
    overflow: hidden;

    left: auto;
    right: auto;
    display: inline-block;

    position: relative;
}

.game-link-text-div {
    position: relative;

    height: 50%;
    width: 100%;
}

.game-link-text-div span {
    margin: 0 20px 0 20px;
    font-size: 20px;
    // font-family: $GothamBold;

    transition:.2s all;
}

.game-link-text-div .game-link-title {
    color: #fff;
    margin-top: 20px;
    font-size: 36px;
    float: left;
}

.game-link-text-div .game-link-engine {
    color: #EBEBEB;
    margin-top: 20px;
    float: right;
}

.game-link-text-div .game-link-platform {
    color: #EBEBEB;
	margin-bottom: 20px;
    float: left;
	position: absolute;
	bottom: 0;
	left: 0;
}

.game-link-text-div .game-link-genre {
    color: #EBEBEB;
	margin-bottom: 20px;
    float: right;
	position: absolute;
	bottom: 0;
	right: 0;
}

.game-link-title {
    color: #000;
    z-index: 20;
	display: block;
}

.game-link-bg {
    position: absolute;
    left: 0;
    top: 0;

    min-width:100%;
    max-width:100%;
	min-height:100%;
    max-height:100%;
	object-fit: cover;

    transition:.2s all;

    -webkit-filter: brightness(60%);
    -moz-filter: brightness(60%);
    -o-filter: brightness(60%);
    -ms-filter: brightness(60%);
    filter: brightness(60%);
}

.game-link-div:hover .game-link-bg {

    -webkit-filter: brightness(100%);
    -moz-filter: brightness(100%);
    -o-filter: brightness(100%);
    -ms-filter: brightness(100%);
    filter: brightness(100%);
}

.game-link-div:hover span {
    opacity: .4;
}

.game-link-div:hover .game-link-title {
    opacity: 1;
}

@media only screen and (max-width: 1268px)
{
	.game-link-div
	{
		width: 100%;
		max-width: 1000px;
		height: 200px;
		margin: 15px 0 15px 0;
	}
}

/** CATAGORY BUTTONS **/
.catagorie-bar {
	width: 100%;
	max-width: 700px; 
	height: 40px;
	line-height: 40px;
	white-space:nowrap;
	margin: 0 auto 20px auto;
}

.catagorie-button {
	color: #fff;
	display: inline-block;
	float: left;
	width: 20%;
	height: 100%;
	background-color: #9DC6F5;

	-webkit-transition: background-color 0.1s ease;
	-moz-transition: background-color 0.1s ease;
	-ms-transition: background-color 0.1s ease;
	-o-transition: background-color 0.1s ease;
	transition: background-color 0.1s ease;
}

.catagorie-button:hover {
	background-color: #6ca3fc;
}

#active {
	background-color: #3094ff;
}

/** CATAGORY BUTTONS **/

/** LEFT RIGHT ALLIGNMENT OF WORK **/
.post-information
{
	width: 250px;
	float: right;
	border: 1px solid #D6D6D6;
	background-color: #EBF6FF;
	padding: 0 16px 0 16px;
	margin-left: 40px;
}

.post-information .source-link div
{
	text-align: center;
	margin-bottom: 10px;
}

.post-information ul
{
	padding: 0;
	margin-bottom: 5px;
	list-style: none outside none;
}

@media only screen and (max-width: 1034px)
{
	.post-information .source-link div
	{
		margin-bottom: 20px;
		text-align: left;
	}

	.post-information
	{
		background-color: #fff;
		border: none;
		width: 100%;
		border: 0;
		padding: 0;
		margin: 0;
	}

	.game-link-bg {
		min-height:0%;
    	max-height:100%;
	}
}

/** LEFT RIGHT ALLIGNMENT OF WORK **/

/** GALLERY **/
.photo-gallery {
	display: inline-block;
}

.photo-gallery figure {
	overflow: hidden;
	float: left;
	margin: 5px 5px 5px 5px;
	object-fit: cover;
}

.photo-gallery .gallery-img {
	width: 256px;
	height: 144px;
	object-fit: cover;

	-webkit-transform: scale(1.5);
	transform: scale(1.5);

	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.photo-gallery .gallery-img:hover {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    max-width: 1200px;
	max-height: 70vh;
	width: auto;
	height: auto;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 1200px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption { 
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.4s;
    animation-name: zoom;
    animation-duration: 0.4s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
	-webkit-transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 1100px){
    .modal-content {
        max-width: 100%;
    }
}
/** GALLERY **/

/** WORK COMBINED SECTION **/
.combined-work-container {
    margin: 15px 0 15px 0;
    overflow: hidden;

    left: auto;
    right: auto;
    display: inline-block;

	height: 125px;
  	width: 100%;
  	max-width: 1000px;

    position: relative;
}

.c-hero-flex {
	width: 100%;
	height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  &__item {
		border: 2px solid #fff;

    flex-grow: 1;
	width: 0px;
    background: #ccc;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    cursor: pointer;

	transition: .2s all;
	-webkit-transition: .2s all;

    &:hover {
      flex-grow: 10;
     box-shadow: none;
    }

	&:hover .c-hero-flex__title {
		opacity: 1;
    }
  }
  
	&__title {
		width: 100%;
		height: 40px;
		line-height: 40px;
		background-color: rgba(0, 0, 0, 0.7);;
		opacity: 0;
		text-transform: uppercase;
		letter-spacing: .075em;
		color: #fff;
		transition: .2s all;
		-webkit-transition: .2s all;
	}
}
/** WORK COMBINED SECTION **/
