---
layout: default
---
<div class="panel-other">
	{% if page.header %}
	<div class="parallax-window" data-parallax="scroll" data-image-src="{{ page.header }}" data-bleed="30"></div>
	{% else %}
	<div class="parallax-window" data-parallax="scroll" style="backround: none; background-color: #7986A4;" data-bleed="30"></div>
	{% endif %}
</div>

<div class="panel">
        <article class="post-array">

			<!--<div class="catagorie-bar">
				<a href="#"><div class="catagorie-button" id="active">All</div></a>
				<a href="#"><div class="catagorie-button">Mathmatics</div></a>
				<a href="#"><div class="catagorie-button">Tools</div></a>
				<a href="#"><div class="catagorie-button">C++</div></a>
				<a href="#"><div class="catagorie-button">Videos</div></a>
			</div>-->

            {% for post in site.posts %}
			{% if post.category != "game" and post.category != "other_work" %}
			<a class="" href="{{ post.url | prepend: site.baseurl }}">

				<div class="post-link">
		            {% if post.thumbnail %}
					<img class="post-link-img" src="{{ base }}/{{ post.thumbnail }}">
		            {% endif %}
					<span class="post-link-title">{{ post.title }}</span>
					<span class="post-link-date">{{ post.date | date: '%B %d, %Y' }}</span>
					<br>
					<span class="post-link-category">{{ post.category }}</span>
					<span class="post-link-short">{{ post.description }}</span>
				</div>
				<br>
			</a>
			{% endif %}
            {% endfor %}

        </article>
</div>
