---
layout: default
---

<div class="panel-other">
	{% if page.header %}
	<div class="parallax-window" data-parallax="scroll" data-image-src="{{ base }}/{{ page.header }}" data-bleed="30"></div>
	{% else %}
	<div class="parallax-window" data-parallax="scroll" style="backround: none; background-color: #7986A4;" data-bleed="30"></div>
	{% endif %}
</div>

<div class="panel-contact">
    <div class="wrapper">

		<div class="post-content">
			{{ content }}
		</div>

		<form class="contact-form" action="" method="post">
			<input type="text" name="first_name" placeholder="Name">
			<input type="text" name="subject" placeholder="Subject">
			<input type="text" name="email" placeholder="your@email.com">
			<br><textarea name="message" placeholder="Message"></textarea>
			<input type="submit" name="submit" value="Send">
		</form>

		<script>
		onload = function () {
			var inputs = document.getElementsByTagName("input");
			var textareas = document.getElementsByTagName("textarea"); 
			var e0 = inputs[0];
			var e1 = inputs[1];
			var e2 = inputs[2];
			var e3 = textareas[0];

			e0.onchange = function() { update_style(e0) };
			e1.onchange = function() { update_style(e1) };
			e2.onchange = function() { update_style(e2) };
			e3.onchange = function() { update_style(e3) };

		}

		function update_style(e) {
			//FIXME this causes a bug when typing something. Deselecting. and reselecting because the :focus color change will be overridden by javascript. solution is adding a onfoucs event to this.
			if (e.value == "")
				e.style.borderBottomColor = "#828282";
			else
				e.style.borderBottomColor = "#3094ff";
		}
		</script>

    </div>
</div>

{% if page.bottom %}
<div class="panel-bottom">
	<div class="parallax-window" data-parallax="scroll" data-image-src="{{ base }}/{{ page.bottom }}" data-bleed="30"></div>
</div>
{% endif %}
