---
layout: default
---
<div class="panel-other">
	{% if page.header %}
	<div class="parallax-window" data-parallax="scroll" data-image-src="{{ page.header }}" data-bleed="30"></div>
	{% else %}
	<div class="parallax-window" data-parallax="scroll" style="backround: none; background-color: #7986A4;" data-bleed="30"></div>
	{% endif %}
</div>

<div class="panel">
    <div class="wrapper">

			<div id="myModal" class="modal">
			  <span class="close" onclick="document.getElementById('myModal').style.display='none'">&times;</span>

			  <img class="modal-content" id="img01">

			  <div id="caption">{{ image.title }}</div>
			</div>

		<div class="photo-gallery">
		  	{% for image in page.images %}
			<figure><img class="gallery-img" id="sml-{{ image.title }}" src="{{ base }}/images/gallery/{{ image.image_path }}" alt="{{ image.title }}"/></figure>
			{% endfor %}

						<script>

window.onload = function(){
	// Get the modal
	var modal = document.getElementById('myModal');

	// Get the image and insert it inside the modal - use its "alt" text as a caption
	var imgs = document.getElementsByClassName("gallery-img");
	//var img = document.getElementById('sml-{{ image.title }}');
	var modalImg = document.getElementById("img01");
	var captionText = document.getElementById("caption");

	for (i = 0; i < imgs.length; i++) {
		imgs[i].onclick = function(){
			modal.style.display = "block";
			modalImg.src = this.src;
			captionText.innerHTML = this.alt;
		}
	}

	// Get the <span> element that closes the modal
	var span = document.getElementsByClassName("close")[0];

	// When the user clicks on <span> (x), close the modal // I aded modal.onclick to close whenever you click
	span.onclick = modal.onclick = function() { 
	  modal.style.display = "none";
	}
}
			
			
			</script>

		</div>

    </div>
</div>
