---
layout: default
---

<div class="panel-other">
	{% if page.header %}
	<div class="parallax-window" data-parallax="scroll" data-image-src="{{ base }}/{{ page.header }}" data-bleed="30"></div>
	{% else %}
	<div class="parallax-window" data-parallax="scroll" style="backround: none; background-color: #7986A4;" data-bleed="30"></div>
	{% endif %}
</div>

<div class="panel-games">
	<article class="games-array">

		{% for post in site.posts %}
      	{% if post.category == "game" %}
		<a href="{{ post.url }}">
			<div class="game-link-div">
				<img class="game-link-bg" src="{{ base }}/{{ post.header }}"></img>
				<div class="game-link-text-div"><span class="game-link-title">{{ post.title }}</span><span class="game-link-engine">{{ post.engine }}</span></div>
				<div class="game-link-text-div"><span class="game-link-platform">{{ post.platform }}</span><span class="game-link-genre">{{ post.genre }}</span></div>
			</div>
		</a>

		{% endif %}
		{% endfor %}

	</article>
</div>
