---
layout: default
---

<div class="panel-other">
	{% if page.header %}
	<div class="parallax-window" data-parallax="scroll" data-image-src="{{ base }}/{{ page.header }}" data-bleed="30"></div>
	{% else %}
	<div class="parallax-window" data-parallax="scroll" style="backround: none; background-color: #7986A4;" data-bleed="30"></div>
	{% endif %}
</div>

<div class="panel-about">
    <div class="wrapper">

          <header class="post-header">
            <h1 class="post-title">{{ page.title }}</h1>
          </header>

          <div class="post-content">
            {{ content }}
          </div>

    </div>
</div>

{% if page.bottom %}
<div class="panel-bottom">
	<div class="parallax-window" data-parallax="scroll" data-image-src="{{ base }}/{{ page.bottom }}" data-bleed="30"></div>
</div>
{% endif %}
