---
layout: default
---

<div class="panel-other">
	{% if page.header %}
	<div class="parallax-window" data-parallax="scroll" data-image-src="{{ base }}/{{ page.header }}" data-bleed="30"></div>
	{% else %}
	<div class="parallax-window" data-parallax="scroll" style="backround: none; background-color: #7986A4;" data-bleed="30"></div>
	{% endif %}
</div>

<div class="panel-post">
    <div class="post-wrapper">
        <article class="post" itemscope itemtype="http://schema.org/BlogPosting">

          <header class="post-header">
            <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
            <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
          </header>

          <div class="post-content" itemprop="articleBody">
            {{ content }}
          </div>

        </article>
    </div>
</div>

{% if page.bottom %}
<div class="panel-bottom">
	<div class="parallax-window" data-parallax="scroll" data-image-src="{{ base }}/{{ page.bottom }}" data-bleed="30"></div>
</div>
{% endif %}
