---
layout: default
---

<div class="panel-other">
	{% if page.header %}
	<div class="parallax-window" data-parallax="scroll" data-image-src="{{ base }}/{{ page.header }}" data-bleed="30"></div>
	{% else %}
	<div class="parallax-window" data-parallax="scroll" style="backround: none; background-color: #7986A4;" data-bleed="30"></div>
	{% endif %}
</div>

<div class="panel-about">
    <div class="wrapper">

          <div class="post-content">
          <header class="post-header">
			  <h1 class="post-title">{{ page.title }}</h1>
          </header>
		  <div class="post-information">
			<h2>Project Information</h2>
			<ul>
				{% if page.role %}<li><strong>My Role: </strong>{{ page.role }}</li>{% endif %}
				{% if page.client %}<li><strong>Client: </strong>{{ page.client }}</li>{% endif %}
				{% if page.project-type %}<li><strong>Project Type: </strong>{{ page.project-type }}</li>{% endif %}
				{% if page.teamsize %}<li><strong>Team Size: </strong>{{ page.teamsize }}</li>{% endif %}
				{% if page.platform %}<li><strong>Platforms: </strong>{{ page.platform }}</li>{% endif %}
				{% if page.prodtime %}<li><strong>Production Time: </strong>{{ page.prodtime }}</li>{% endif %}
				{% if page.tech %}<li><strong>Tech: </strong>{{ page.tech }}</li>{% endif %}
			</ul>
			{% if page.source %}<a class="source-link" href="{{page.source}}" target="_blank"><div>Source Code</div></a>{% endif %}
			{% if page.website %}<a class="source-link" href="{{page.website}}" target="_blank"><div>Website</div></a>{% endif %}
          </div>
            {{ content }}
          </div>

    </div>
</div>

{% if page.bottom %}
<div class="panel-bottom">
	<div class="parallax-window" data-parallax="scroll" data-image-src="{{ base }}/{{ page.bottom }}" data-bleed="30"></div>
</div>
{% endif %}
